<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nit.fes.system">

    <!-- To auto-complete the email text field in the login form with the user's emails -->

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".NextActivity" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />

        <activity android:name=".QrCodeReadInViewActivity" />
        <activity android:name=".Main2Activity" />
        <activity android:name=".Kuchikomi" />
        <activity android:name=".Graph" />
        <activity android:name=".button_activity" />
        <activity android:name=".show_image" />
        <activity android:name=".Register" />
        <activity android:name=".Authorized" />
        <activity android:name=".Display" />
        <activity android:name=".home_1" />
        <activity android:name=".home_2" />
        <activity android:name=".SendData" />
        <activity android:name=".show_image_h" />
        <activity android:name=".change_probability" />
        <activity android:name=".history"></activity>
    </application>

</manifest>